@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #ffffff; /* background color */
    --foreground: #000000; /* Text color */
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: 'Didot', 'Didot LT STD', 'Bodoni MT', 'Didot ITC', serif;
}